.container{
    display: flex;
    flex-direction: row;
    height: 480px;
    background-color: gray;
    align-items: flex-end;
}
.box {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    margin: 5px;
}